<html>
<head>
{% stylesheets 'bundles/acmeblog/css/admin-styles.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
<body>

{% block menu %}
{% endblock menu%}

{% block title %}
{% endblock title %}

{% block content %}
{% endblock content %}

</body>
</html>