<ul>
<li class="menu-item"><a href="{{ path('blog_post_new') }}" class="menu-link">New post</a></li>
<li class="menu-item"><a href="{{ path('blog_post_list') }}" class="menu-link">All posts</a></li>
<li class="menu-item"><a href="{{ path('blog_show_home') }}" class="menu-link" target="_blank">Visit website</a></li>

</ul>