<h2>Users list</h2>
<table border="1" cellpadding="3">
<tr><th>Name</th><th>Last name</th><th>E-mail address</th><th>Actions</th></tr>
{% for user in users %}
	<tr>
	<td>{{ user.firstName }}</td>
	<td>{{ user.lastName }}</td>
	<td>{{ user.email }}</td>
	<td><a href="{{path('blog_user_edit',{'userId':user.id})}}">Edit</a></td>
	</tr>
{% endfor %}
</table>